<table>
	<tr>
		<td>
			<div id="calendar"></div>
		</td>
		<td>
			<h2>Showing appointments for:</h2>
			<table style="width: 100%; margin: auto;">

<% @bookables.each do |bookable| %>
	<tr>
	<td><%= (bookable.avatar.file? ? image_tag(bookable.avatar.url(:thumb)) : "No Picture") %></td>
	<td><%= (bookable.user.name ? bookable.user.name : bookable.user.username)%></td>
  </tr>
<% end %>
</table>
</td>
</tr>
</table>
	<%= calendar_script_tag "multiview/show.json?#{request.query_string}", @bookable%>
