<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= @user.name %> has sent you a message through the scheduling system.
    </p>
    <p>
      <%= @message %>
    </p>
  </body>
</html>