<h1>Editing bookable</h1>

<%= render 'form' %>

<%= link_to 'Show', @bookable %> |
<td><%= link_to 'Destroy', @bookable, confirm: 'Are you sure?', method: :delete %></td> |
<%= link_to 'Back', bookables_path %>
